In [7]:
a=20
b=19
for i in range(a,0,-1):
    for j in range(i-b):
        print('*'*(a-10)+'*'*(a-10))
        print('*'*(a-12)+(' '*4) +'*'*(a-12))
        print(' '*(a-13)+'*'+' '*4+'*')
        print(' '*(a-13)+'*'+' '*4+'*')
        print(' '*(a-13)+'*'+' '*4+'*')
        print(' '*(a-13)+'*'+' '*4+'*')
    for j in range(i-b):
        print('*'*(a-12)+(' '*4) +'*'*(a-12))
        print('*'*(a-10)+'*'*(a-10))
    print()

********************
********    ********
       *    *
       *    *
       *    *
       *    *
********    ********
********************

In [6]:
a=20
b=19
for i in range(a,0,-1):
    for j in range(i-b):
        print('*'*(a-10)+'*'*(a-10))
        print('*'*(a-12)+(' '*4) +'*'*(a-12))
    for j in range(30,25,-1):
        print(' '*(a-13)+'*'+' '*4+'*')
    for j in range(i-b):
        print('*'*(a-12)+(' '*4) +'*'*(a-12))
        print('*'*(a-10)+'*'*(a-10))
    print()

********************
********    ********
       *    *
       *    *
       *    *
       *    *
       *    *
********    ********
********************

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

       *    *
       *    *
       *    *
       *    *
       *    *

In [9]:
l=[1,2,3,4,"Jimmy","Vyas",19.89]

In [12]:
for i in l:
    print(i)

1
2
3
4
Jimmy
Vyas
19.89

In [13]:
for i in l:
    pass

In [14]:
j="Jimmy"
for i in j:
    print(i)

J
i
m
m
y

In [15]:
t=("Jumbo",1,2,3,"Gardenia")
for i in t:
    print(i)

Jumbo
1
2
3
Gardenia

In [18]:
for i in l:
    print(i)
else:
    print("If for loop is going to complete itself the list will execute else")

1
2
3
4
Jimmy
Vyas
19.89
If for loop is going to complete itself the list will execute else

In [23]:
for i in l:
    if i==4:
        break
    print(i)
else:
    print("This will execute only if for is going to complete itself")

1
2
3

In [25]:
j="Jaymil Vyas"
for i in j:
    if i==" ":
        print("\r")
    print(i)
else:
    print("print string", j)

J
a
y
m
i
l


V
y
a
s
print string Jaymil Vyas

In [27]:
t=(1,2,3,4,5,"Jimmy")
for i in t:
    print(i)

1
2
3
4
5
Jimmy

In [33]:
s={1,2,4,5,9,8,9,88,66,55,55,55}
for i in s:
    print(i,type(s))

1 <class 'set'>
2 <class 'set'>
66 <class 'set'>
4 <class 'set'>
5 <class 'set'>
8 <class 'set'>
9 <class 'set'>
55 <class 'set'>
88 <class 'set'>

In [43]:
d={'d1':"Name",'d2':"Address",'d3':"Number",'d4':"EmailID"}
for i in d:
    print(i,":",d[i])

d1 : Name
d2 : Address
d3 : Number
d4 : EmailID

In [45]:
range(9)

range(0, 9)

In [46]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [48]:
range(0,9)

range(0, 9)

In [49]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
list(range(0,9,-1))

[]

In [54]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

In [74]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("Jimmy"),end=" ")
    for j in range(i+1):
        print("Jimmy",end=" ")
    for j in range(i):
        print("Jimmy",end=" ")
    print()

            Jimmy
      Jimmy Jimmy Jimmy
Jimmy Jimmy Jimmy Jimmy Jimmy

In [75]:
t=(3,23,45,67,2,4,5,6)

In [78]:
for i in t:
    print(t.index(i),i)

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [81]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [85]:
j="Jimmy"
for i in range(j):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [101]:
j="Jimmy"
for i in range(len(j)-1,-1,-1):
    print(i,j[i])

4 y
3 m
2 m
1 i
0 J

In [102]:
d

{'d1': 'Name', 'd2': 'Address', 'd3': 'Number', 'd4': 'EmailID'}

In [104]:
d.items()

dict_items([('d1', 'Name'), ('d2', 'Address'), ('d3', 'Number'), ('d4', 'EmailID')])

In [107]:
for i in d.items():
    print(i,type(i),type(i[1]))

('d1', 'Name') <class 'tuple'> <class 'str'>
('d2', 'Address') <class 'tuple'> <class 'str'>
('d3', 'Number') <class 'tuple'> <class 'str'>
('d4', 'EmailID') <class 'tuple'> <class 'str'>

In [108]:
l=["Jimmy","@gmail.com",123456,65.23,8899,"Vyas"]

In [109]:
isnumeric(l)

NameError: name 'isnumeric' is not defined

In [128]:
for i in l:
    if type(i)==int:
        print(i)

123456
8899

In [112]:
type(i)

str

In [119]:
d={1:4455,"Name":"Jaymil","EmailID":"jaymilvyas@gmail.com",123:"abcdefg","1989":456}

In [120]:
d

{1: 4455,
 'Name': 'Jaymil',
 'EmailID': 'jaymilvyas@gmail.com',
 123: 'abcdefg',
 '1989': 456}

In [130]:
for i in d:
    if type(i)==int:
        print(i,":",d[i])

1 : 4455
123 : abcdefg

In [141]:
s="aaaabbccd"
for i in set(s):
    print(i,":",s.count(i))

d : 1
b : 2
a : 4
c : 2

NameError: name 'count' is not defined

In [143]:
i=3453454646435
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [149]:
for j in list(str(i)):
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [164]:
t = ("Jaymil","Vyas",[3,5,6],(3,49),{'Key1':"One","Key2":"Two",3:3})
t

('Jaymil', 'Vyas', [3, 5, 6], (3, 49), {'Key1': 'One', 'Key2': 'Two', 3: 3})

In [171]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j ==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k)
                print(v)

3
3
3
3
3

In [172]:
d={4:5,"Key1":"Jaymil","Key2":"JV"}

In [173]:
d

{4: 5, 'Key1': 'Jaymil', 'Key2': 'JV'}

In [176]:
for i,j in d.items():
    print(i,":",j)

4 : 5
Key1 : Jaymil
Key2 : JV

In [185]:
s="ineuron"
n=4
for i in range(n):
    for j in range(i+1):
        print(s,end=" ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [203]:
s="ineuron"
n=5
for i in range(n,0,-1):
    for j in range(0,1):
        print("*"*len(s),end=" ")
    print()

*******
*******
*******
*******
*******

In [238]:
s="ineuron"
n=5
for i in range(0,n):
    for j in range(n,n-i):
        print("*"*len(s),end="")
    print()